body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  padding: 10px;
  background: #222;
  color: white;
  text-align: center;
}

button, select {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

#map {
  height: 90vh;
}
