body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #111827;
  color: white;
  padding: 14px;
  text-align: center;
  font-size: 18px;
}

#map {
  height: calc(100vh - 50px);
}

.panel {
  padding: 20px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
}
